dist: xenial
language: cpp
compiler: clang
# safelist
branches:
  only:
  - master

# install and set g++-8 and boost
matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
            - libboost-all-dev
      env:
         - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
before_install:
    - eval "${MATRIX_EVAL}"
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 60

# run
script:
- cmake .
- cmake --build .
- cmake --build . --target test
- cmake --build . --target package

deploy:
 - provider: script
   skip_cleanup: true
   script:
   - curl -f -T yamr-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb -ugwqw:$BINTRAY_API_KEY "https://api.bintray.com/content/gwqw/otus-cpp/homework/$TRAVIS_BUILD_NUMBER/yamr-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb;deb_distribution=xenial;deb_component=main;deb_architecture=amd64;publish=1"
